option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:app"

packages:
  # This will ensure that numpy is not installed from yum during deployment
  yum:
    numpy: []
    python3-matplotlib: []

# Install numpy using pip
commands:
  01_install_numpy:
    command: "pip install numpy"
